# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# build tree
build/

tags

# from bdwgc Garbage Collector.
**/.deps/
.dirstamp
config.h
stamp-h1
/src/gc-7.2/*test.log
/src/gc-7.2/*test.trs
/src/gc-7.2/Makefile
/src/gc-7.2/bdw-gc.pc
/src/gc-7.2/config.log
/src/gc-7.2/config.status
/src/gc-7.2/libatomic_ops*
/src/gc-7.2/libtool
/src/gc-7.2/.libs/
/src/gc-7.2/gctest
/src/gc-7.2/hugetest
/src/gc-7.2/leaktest
/src/gc-7.2/middletest
/src/gc-7.2/realloc_test
/src/gc-7.2/smashtest
/src/gc-7.2/staticrootstest
/src/gc-7.2/initsecondarythread_test
/src/gc-7.2/threadkey_test
/src/gc-7.2/threadleaktest
/src/gc-7.2/test-suite.log
